body {
    background-color: #000;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #f8f8f8; /* Cor do texto alterada para preto */
}

header {
    background-color: #242424;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 10px;
    background-color: #00FF08;
    padding: 10px 20px;
    border-radius: 10px;
}
nav ul li a {
    text-decoration: none; 
}
section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}
.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}
footer {
    padding: 40px 0;
    background-color: #242424;
    color: #fff;
    text-align: center;
    width: 100%;
}

footer .flex {
    justify-content: center;
}

footer .line-footer {
    padding: 20px 0;
    width: 100%;
}

.borda {
    border-top: 2px solid #00FF08;
}

